<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <div class="container">  
        <div class="row">
            <div class="col">
                <h1>Login</h1>
            </div>
            <div class="col">
              
            </div>
            <div class="col">
                <a href="register" class="btn btn-success">Register</a>
                <a href="/" class="btn btn-success">Home</a>
            </div>
        </div>
        <% if (messages.error) { %>
            <%= messages.error %>
          <% } %>
        <form action="login" method="POST">
            <div>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div>
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
          </form>
    </div>
</body>
</html>