<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

        <div><%= article.markdown %></div>
        
    </div>
</body>
</html>